@page
@model RP_Peliculas.Pages.GaleriaModel

@{
    ViewData["Title"] = "Galeria";
    Layout = "~/Pages/Shared/_Layout.cshtml";

    <link rel="stylesheet" href="~/css/MiEstilo.css" />
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css'>
}
<div class="ghibli">
    <h1>@ViewData["Title"]</h1>

    <div class="container">
        <div class="row">
            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="gallery-title">Peliculas studio ghibli</h1>
            </div>
            <div>
                <div align="center"> <button class="btn btn-default filter-button" data-filter="all">All</button> <button class="btn btn-default filter-button" data-filter="hdpe">1986-1989</button> <button class="btn btn-default filter-button" data-filter="sprinkle">1990-1999</button> <button class="btn btn-default filter-button" data-filter="spray">2000-2009</button> <button class="btn btn-default filter-button" data-filter="irrigation">2010-2019</button> </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                    <a href=""> <img width="240" height="240" src="~/Imagenes/MiVecinoTotoro.jpg"></a>
                    <h6>Mi vecino Totoro</h6>
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                    <a href=""> <img width="240" height="240" src="~/Imagenes/PrincesaMononoke.webp" class="img-responsive"></a>
                    <h6>La princesa Mononoke</h6>
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                    <a href=""> <img width="240" height="240" src="~/Imagenes/NickyLaAprendizDeBruja.jpg" class="img-responsive"></a>
                    <h6>Nicky la aprendiz de bruja</h6>
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                    <a href=""> <img width="240" height="240" src="~/Imagenes/SE-LEVANTA-EL-VIENTO.jpg" class="img-responsive"></a>
                    <h6>El viento se levanta</h6>
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                    <a href=""> <img width="240" height="240" src="~/Imagenes/ElViajeDeChihiro.webp" class="img-responsive"></a>
                    <h6>El viaje de Chihiro</h6>
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                    <a href=""> <img width="240" height="240" src="~/Imagenes/ElCastilloAmbulante.webp" class="img-responsive"></a>
                    <h6>El castillo ambulante</h6>
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                    <a href=""> <img width="240" height="240" src="~/Imagenes/PorcoRosso.jpg" class="img-responsive"></a>
                    <h6>Porco Rosso</h6>
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                    <a href=""> <img width="240" height="240" src="~/Imagenes/LaColinaDeLasAmapolas.jpg" class="img-responsive"></a>
                    <h6>La colina de las amapolas</h6>
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                    <a href=""> <img width="240" height="240" src="~/Imagenes/el-castillo-en-el-cielo.jpg" class="img-responsive"></a>
                    <h6>El castillo en el cielo</h6>
                </div>
            </div>
        </div>
    </div>
</div>


<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

<script>
    $(document).ready(function () {
        $(".filter-button").click(function () {
            var value = $(this).attr('data-filter');
            if (value == "all") {
                $('.filter').show('1000');
            }
            else {
                $(".filter").not('.' + value).hide('3000');
                $('.filter').filter('.' + value).show('3000');
            }
        });
        if ($(".filter-button").removeClass("active")) {
            $(this).removeClass("active");
        }
        $(this).addClass("active");
    });
</script>